/* .container-fluid{
  background-color: #f5e9d7;
}  */

/* .over-flow{
  overflow: hidden;
} */

.banner-img {
  max-width: 100%;
}

.row {
  align-items: center;
  /* margin-top: 150px; */
  /* background-color: #faf7f1; */
}


@media screen and (max-width: 567px) {
  .banner {
    text-align: center;
  }
}

h4 {
  font-family: "Cinzel", serif;
  font-weight: bold;
}

p {
  font-family: "Fauna One", serif;
  font-size: 13px;
}
