/* .bk-img {
  background: url('https://images.unsplash.com/photo-1610881101036-55a769706cc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTc0fHxjYWtlfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
  height: 200px;
} */

/* .text-label,
.text-hero-bold,
.text-hero-regular {
  margin: 24px 0;
} */

.text-label{
  color: rgb(223, 72, 18);
  font-family: "Cinzel", serif;
  font-size: larger;
  line-height: 31px;
}

.text-hero-bold{
  font-family: "Cinzel", serif;
  /* color: #fff; */
  font-size: 48px;
  line-height: 74px;
}

.text-hero-regular{
  font-family: "Fauna One", serif;
  font-size: 12px;
  line-height: 31px;
}

ul {
  list-style-type: none;
  font-family: "Fauna One", serif;
  font-size: 12px;
  line-height: 48px;
}

.icon {
  font-size: 1.8em;
}

.perfect-circle{
  width: 250px; 
  height: 250px;
  object-fit: cover;
}

/* img {
  width: 100%;
  height: auto;
} */

@media(min-width:133.98px){
  .container{
    width: 84%;
  }
}

